.card {
    display: inline-block;
    margin: 1em;
}

.add-btn {
    height: 50px;
    width: 50px;

    border-radius: 25px;

    border: none;
    background-color: rgb(31, 115, 226);
    color: #fff;
    text-align: center;
}

.form-control {
    margin-top: 5px;
}

.tag-btn {
    height: 1.8em;
    border-radius: 18px;
    font-size: small;
    margin-top: 5px;
    float: left;
    padding-bottom: 20px;
    background-color: rgb(226, 224, 224);
    border: none;
    margin-right: 5px;
}

.step-btn {
    width: 3.7em;
    height: 1.8em;
    border-radius: 18px;
    font-size: small;
    margin-top: 5px;
    float: left;
    padding-bottom: 20px;
    background-color: rgb(226, 224, 224);
    border: none;
}

.addTagButton {
    border-radius: 20px;
    border: none;
}

#tagFormName {
    border: none;
    border-radius: 20px;
}

#ingridiantForm {
    display: none;
}

.ingridant-btn {
    height: 1.8em;
    border-radius: 18px;
    font-size: small;
    margin-top: 5px;
    float: left;
    padding-bottom: 20px;
    background-color: rgb(226, 224, 224);
    border: none;
    margin-right: 5px;
}

.addIngridiantButton {
    border-radius: 20px;
    border: none;
}

#ingridiantFormName {
    border: none;
    border-radius: 20px;
}

.iFuckingHateCSSAndEverythingAboutIt {
    display: none;
}